<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
     xmlns:th="http://www.thymeleaf.org"

     layout:fragment="headerFragment" id="headerFragment"
     class="row h-10 m-0 p-0">
    <div class="container-80 navigation bc-nav h-100">
        <nav class="navbar h-100 m-0 p-0">
            <!--LOGO-->
            <a class="navbar-brand h-100 d-flex flex-wrap align-items-center" th:href="@{/}">
                <img class="m-0 p-0 pl-2" width="80" th:src="@{/images/logo.png}"/>
            </a>
            <!--USER-->
            <div class="navbar h-100 ml-auto">
                <div style="font-size: 20px">
                    <i class="fa fa-user fa-2x dropdown" type="button" data-toggle="dropdown"></i>
                    <div class="dropdown-menu dropdown bc-dark-t p-0">
                        <form name="logoutForm" th:action="@{/logout}" method="post">
                            <button type="submit" class="dropdown-item p-2" th:text="#{msg.navigation.logout}"></button>
                        </form>
                    </div>
                    <span sec:authentication="name"></span>
                </div>
            </div>
        </nav>
    </div>
</div>