.spritz {
    color: #000000;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
.spritz:before, .spritz:after {
    background-color: #000000;
}

.spritz-word div {
    color: #000000;
}

body {
    background-color: #ffffff;
    color: #000000;
}
