.spritz {
    color: #c6c6c6;
    border-top: 2px solid #c6c6c6;
    border-bottom: 2px solid #c6c6c6;
}
.spritz:before, .spritz:after {
    background-color: #c6c6c6;
}

.spritz-word div {
    color: #c6c6c6;
}

body {
    background-color: #161616;
    color: #c6c6c6;
}
