
div.container {
    height: 35em;
    position: relative
}

div.container div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%)
}

#content {
    font-size: 48px;
}

#btn {
    margin-left: auto;
    margin-right: auto;
}

.num-input {
    width: 4em;
    text-align: center;
}

/*
    Uklanja strelice na textfieldovima koji su oznaceni kao samo brojcani
 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.spritz {
    color: #000000;
    position: relative;
    width: 30rem;
    padding: 1rem 0 1.2rem;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    margin: 10rem auto;
}
.spritz:before, .spritz:after {
    content: "";
    position: absolute;
    left: 40%;
    height: 0.8rem;
    width: 2px;
    margin-left: -1px;
    background-color: #000000;
}
.spritz:before {
    top: 0;
}
.spritz:after {
    bottom: 0;
}

.spritz-word {
    font-size: 2.4rem;
    line-height: 3.2rem;
    height: 3.2rem;
    font-weight: normal;
}
.spritz-word div {
    color: #000000;
    display: table-cell;
}
.spritz-word div:first-child {
    width: 40%;
    text-align: right;
}
.spritz-word div:nth-child(2) {
    color: red;
}
.spritz-word div:last-child {
    width: 60%;
    text-align: left;
}
