body,html{
    min-height: 800px ;
    min-width: 300px;
    height: 100%;
}
.container-80{
    width: 80%;
    margin:0 auto;
}
.h-10{
    height: 10% !important;
}
.h-5{
    height: 5% !important;
}
.h-90{
    height: 90% !important;
}
.container-30{
    width: 30%;
    margin: auto;
}
.navigation{
    border-radius: 0px 0px 10px 10px;
}
.bc-main{
    background-color: #161616;
    color: #c6c6c6;
}
.bc-nav{
    background-color: #3d3d5c;
}
.bc-dark-t{
    background-color:rgba(200, 200, 229,0.6);
}

.bc-dark-t a{
    color: blue;
}
.bc-dark-t a:hover{
    color: blue;
    background-color: gray;
}
.bc-dark-t label{
    color: blue;
}
.navbar button{
    color: blue;
    font-weight: bold;
}
.navbar button:hover{
    color: blue;
    background-color: gray;
    font-weight: bold;
}
.nav-tabs{
    border-bottom: 1px solid #660066;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #757599;
    border-color: #660066 #660066 #757599 ;
}

@media screen and (max-width: 800px) {
    .container-80{
        width: 100%;
        margin: auto;
    }
    .container-30{
        width: 100%;
        margin: auto;
    }
}
