<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link href="../static/bootstrap-4.5.3-dist/bootstrap-4.5.3-dist/css/bootstrap.css" rel="stylesheet"
          th:href="@{/bootstrap-4.5.3-dist/bootstrap-4.5.3-dist/css/bootstrap.css}"/>
    <link href="../static/css/style.css" rel="stylesheet"
          th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>SprintMaterial</title>
</head>
<body class="bc-main h-100">

<div class="row h-10 m-0 p-0">
    <div class="container-80 navigation bc-nav h-100">
        <nav class="navbar h-100 m-0 p-0">

            <a class="navbar-brand h-100 d-flex flex-wrap align-items-center" th:href="@{/}">
                <img src="../static/images/logo.png" class="m-0 p-0 pl-2" width="80" th:src="@{images/logo.png}"/>
            </a>

            <div class="navbar h-100 ml-auto">
                <div style="font-size: 20px">
                    <i class="fa fa-user fa-2x dropdown" type="button" data-toggle="dropdown"></i>
                    <div class="dropdown-menu dropdown bc-dark-t p-0">
                        <form sec:authorize="!hasAuthority('EDITOR')" name="prof" th:action="@{/promote}" method="post">
                            <button type="submit" class="dropdown-item p-2"
                                    th:text="#{msg.navigation.profesor}"></button>
                        </form>
                        <form name="logoutForm" th:action="@{/logout}" method="post">
                            <button type="submit" class="dropdown-item p-2" th:text="#{msg.navigation.logout}"></button>
                        </form>
                    </div>
                    <span sec:authentication="name"></span>
                </div>
            </div>

        </nav>
    </div>
</div>
<div class="container-80 p-0 pt-2 h-90">
    <div class="row m-0 p-0">
        <!--NAVIGATION-->
        <ul class="nav nav-tabs w-100 justify-content-center m-0 pb-0">
            <li class="nav-item p-0 mr-5 ">
                <a class="nav-link " th:href="@{'/'}" th:text="#{msg.navigation.index}"></a>
            </li>
            <li class="nav-item ml-5 mr-5 p-0">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false" th:text="#{msg.navigation.groups}"></a>
                    <div class="dropdown-menu bc-dark-t" aria-labelledby="dropdownMenuButton">
                        <th:block th:each="group: ${userGroups}">
                            <a class="dropdown-item" th:text="${group.getName()}"
                               th:href="@{'/group/' + ${group.getId()}}"></a>
                        </th:block>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item btn-primary" th:href="@{/newGroup}"
                           th:text="#{msg.navigation.groupsNew}"></a>
                    </div>
                </div>
            </li>
            <li class="nav-item ml-5">
                <a class="nav-link" href="#" th:href="@{/profile}" th:text="#{msg.navigation.profile}"></a>
            </li>
            <li class="nav-item ml-5">
                <a class="nav-link active" href="#" th:text="#{msg.navigation.about}"></a>
            </li>
        </ul>
        <!--CONTENT-->
        <div class="row w-100 m-0 p-0 pt-2 justify-content-center">
            <iframe class="w-75" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2781.7974754342176!2d15.96732491594039!3d45.79528497910636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4765d68b441ce2df%3A0x54e2a03adf42446f!2sPolytechnic%20of%20Zagreb!5e0!3m2!1sen!2shr!4v1606401116767!5m2!1sen!2shr"
                     height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
        </div>
    </div>
</div>
</body>
</html>
