<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="" name="description">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" id="theme-css" th:href="@{/css/reader-dark.css}"/>
    <title>Sprint Material Error</title>


</head>
<body>
<div class="m-2">

    <div class="container text-center mt-5">

        <div class="row mt-5">
            <div class="col-12">
                <h1 th:text="#{msg.error.title}">Error</h1>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div th:text="${message}"></div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-12">
                <div><span th:text="#{msg.error.toHomePage}"></span><a th:href="@{/}" th:text="#{msg.error.here}"></a> </div>
            </div>
        </div>
    </div>

</div>
<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:href="@{/js/bootstrap.min.js}"></script>
</body>
</html>
