<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>SprintMaterial</title>
</head>
<body class="bc-main">
<section layout:fragment="content">
    <div class="col-2 m-0 p-0">
        <div class="card m-0 p-0 bc-dark-t">
            <div class="card-header">
                <h4 th:text="#{msg.group.members}"></h4>
            </div>
            <div class="card-body p-0">
                <ul class="p-0 m-0">
                    <th:block th:each="groupUser : ${group.getMembers()}">
                        <li class="list-unstyled p-1" >
                            <div class="pl-1 p-0 btn w-100">
                                <span class="float-left" th:text="${groupUser.getUsername()}"></span>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-8 justify-content-center">
        <div class="card bc-dark-t">
            <div class="card-header">
                <h3 th:text="#{msg.groupResource.formTitle}"></h3>
            </div>
            <div class="card-body">
                <form method="POST" th:action="@{'/group/' + ${group.id} + '/createResource'}" th:object="${resourceDto}">
                    <div class="form-group">
                        <label th:text="#{msg.groupResource.resourceTitle}"></label>
                        <input th:classappend="${#fields.hasErrors('title')} ? 'border-danger' : ''" class="form-control" type="text" th:field="*{title}">
                        <p class="text-danger" th:if="${#fields.hasErrors('title')}" th:text="#{msg.groupResource.titleError}"></p>
                    </div>

                    <div class="form-group">
                        <label th:text="#{msg.groupResource.content}"></label>
                        <textarea th:classappend="${#fields.hasErrors('content')} ? 'border-danger' : ''" maxlength="4000" class="form-control" rows="15" type="text" th:field="*{content}"/>
                        <p class="text-danger" th:if="${#fields.hasErrors('content')}" th:text="#{msg.groupResource.contentError}"></p>
                    </div>

                    <div class="form-row justify-content-center">
                        <div class="d-flex justify-content-center links">
                            <button class="btn btn-primary submit-btn full-width mr-2" type="submit" th:text="#{msg.groupResource.add}"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-2 m-0 p-0">
        <div class="card m-0 p-0 bc-dark-t">
            <div class="card-header">
                <h4 th:text="#{msg.group.resources}"></h4>
            </div>
            <div class="card-body">
                <ul class="p-0 m-0">
                    <th:block th:each="resource : ${group.getResources()}">
                        <li class="list-unstyled p-1" >
                            <div class="pl-1 p-0 pb-1 btn w-100 border-bottom">
                                <span class="float-left" th:text="${resource.getTitle()}"></span>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
        <a class="btn btn-danger w-100 mt-2" th:href="@{'/group/'+ ${group.id}}"><h4 th:text="#{msg.groupResource.cancel}"></h4></a>
    </div>

</section>

</body>
</html>