<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>SprintMaterial</title>
</head>
<body class="bc-main">
<section layout:fragment="content">
    <div class="row w-100 m-0 p-0 justify-content-center">
        <div class="card container-30 bc-dark-t mt-4">
            <div class="card-header">
                <h3 th:text="#{msg.groupNewPage.formTitle}"></h3>
            </div>
            <div class="card-body">
                <form method="POST" th:action="@{/createGroup}" th:object="${groupDto}">
                    <div class="form-group">
                        <label th:text="#{msg.groupNewPage.groupName}"></label>
                        <input th:classappend="${#fields.hasErrors('name')} ? 'border-danger' : ''" class="form-control" type="text" th:field="*{name}">
                        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:text="#{msg.groupNewPage.errorName}"></p>
                    </div>
                    <div sec:authorize="hasAuthority('EDITOR')" class="form-group">
                        <label th:text="#{msg.groupNewPage.public}"></label>
                        <input class="form-check-inline ml-2" type="checkbox" th:checked="${groupDto.privacyType}" name="privacyType">
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="d-flex justify-content-center links">
                            <button class="btn btn-primary submit-btn full-width" type="submit" th:text="#{msg.groupNewPage.create}"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>