<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>SprintMaterial</title>
</head>
<body class="bc-main">
<section layout:fragment="content">
    <div class="col-2 m-0 p-0">
        <div class="card m-0 p-0 bc-dark-t">
            <div class="card-header">
                <h4 class="float-left" th:text="#{msg.group.members}"></h4>
                <a class="btn m-0 p-0 float-right" th:href="@{'/group/'+ ${group.id} +'/newUser'}" th:if="${group.getOwner().username == #authentication.name}">
                    <i class="fa fa-plus fa-2x text-success" aria-hidden="true"></i>
                </a>
            </div>
            <div class="card-body p-0">
                <ul class="p-0 m-0">
                    <th:block th:each="groupUser : ${group.getMembers()}">
                        <li class="list-unstyled p-1" >
                            <div class="pl-1 p-0 btn w-100">
                                <span class="float-left" th:text="${groupUser.getUsername()}"></span>
                                <a class="p-0 m-0 float-right" th:href="@{'/group/'+ ${group.getId()} +'/removeUser/' + ${groupUser.getId()}}" th:title="${'Ukloni korsnika'}" th:if="${group.getOwner().username == #authentication.name && groupUser.getUsername() != group.getOwner().getUsername()}">
                                    <i class="fa fa-minus-circle text-danger" aria-hidden="true"></i>
                                </a>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-8">
        <form method="POST" th:action="@{'/group/'+ ${group.getId()} +'/newMessage'}" th:object="${newMessage}">
            <textarea class="form-control mb-1" th:placeholder="#{msg.groupPage.enterMessage}"
                      th:field="*{messageContent}"></textarea>
            <button class="btn btn-primary mb-3" type="submit" th:text="#{msg.groupPage.send}"></button>
        </form>
        <th:block th:each="message : ${groupMessages}">
            <div class="w-100 ">
                <div class="card bc-dark-t mt-2">
                    <div class="card-header container-fluid">
                        <span class="float-left"><h4 th:text="${message?.getUser()?.getUsername()}"></h4></span>
                        <span class="mr-0 float-right"
                              th:text="${#temporals.format(message.getCreatedAt(),'dd.MM.yyyy HH:mm:ss')}"></span>
                    </div>
                    <div class="card-body">
                        <p th:text="${message.getContent()}"></p>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
    <div class="col-2 m-0 p-0">
        <div class="card m-0 p-0 bc-dark-t">
            <div class="card-header">
                <h4 class="float-left" th:text="#{msg.group.resources}"></h4>
                <a class="btn m-0 p-0 float-right" th:href="@{'/group/'+ ${group.id} +'/newResource'}" th:if="${group.getOwner().username == #authentication.name}">
                    <i class="fa fa-plus fa-2x text-success" aria-hidden="true"></i>
                </a>
            </div>
            <div class="card-body p-2 pb-0 justify-content-center p-0">
                <th:block th:each="resource : ${group.getResources()}" th:class="justify-content-center">
                    <a class="w-100 mb-2 btn btn-secondary" th:href="@{'/reader/'+ ${resource.getId()}}">
                        <i class="fa fa-play text-white" aria-hidden="true"></i>
                        <span class="text-white" th:text="${resource.title}"></span>
                    </a>
                </th:block>
            </div>
        </div>
    </div>
</section>
</body>
</html>