<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>SprintMaterial</title>
</head>
<body class="bc-main">
<section layout:fragment="content">
    <div class="col-2 m-0 p-0">
        <div class="card m-0 p-0 bc-dark-t">
            <div class="card-header">
                <h4 th:text="#{msg.group.members}"></h4>
            </div>
            <div class="card-body p-0">
                <ul class="p-0 m-0">
                    <th:block th:each="groupUser : ${group.getMembers()}">
                        <li class="list-unstyled p-1" >
                            <div class="pl-1 p-0 btn w-100">
                                <span class="float-left" th:text="${groupUser.getUsername()}"></span>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-8 justify-content-center">
        <div class="card container-30 bc-dark-t">
            <div class="card-header">
                <h3 th:text="#{msg.groupNewUser.formTitle}"></h3>
            </div>
            <div class="card-body">
                <form method="POST" th:action="@{'/group/' + ${group.id} + '/inviteUser'}" th:object="${invitation}">
                    <div class="form-group">
                        <label th:text="#{msg.groupNewUser.username}"></label>
                        <input th:classappend="${#fields.hasErrors('invitedUsername')} ? 'border-danger' : ''" class="form-control" type="text" th:field="*{invitedUsername}">
                        <p class="text-danger" th:if="${#fields.hasErrors('invitedUsername')}" th:text="#{msg.groupNewUser.errorUsername}"></p>
                        <p class="text-danger" th:if="${invitedUserError}" th:text="${invitation.getInvitedUsername()} + ' ' + #{msg.groupNewUser.noUser}"></p>
                    </div>

                    <div class="form-group">
                        <label th:text="#{msg.groupNewUser.message}"></label>
                        <textarea class="form-control" type="text" th:field="*{invitationMessage}"/>
                    </div>

                    <div class="form-row justify-content-center">
                        <div class="d-flex justify-content-center links">
                            <button class="btn btn-primary submit-btn full-width mr-2" type="submit" th:text="#{msg.groupNewUser.add}"></button>
                            <a class="btn btn-danger ml-2" th:href="@{'/group/'+ ${group.id}}" th:text="#{msg.groupNewUser.cancel}"></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-2 m-0 p-0">
        <div class="card m-0 p-0 bc-dark-t">
            <div class="card-header">
                <h4 th:text="#{msg.group.resources}"></h4>
            </div>
            <div class="card-body p-2 pb-0 justify-content-center p-0">
                <th:block th:each="resource : ${group.getResources()}" th:class="justify-content-center">
                    <a class="w-100 mb-2 btn btn-secondary" th:href="@{'/reader/'+ ${resource.getId()}}">
                        <i class="fa fa-play text-white" aria-hidden="true"></i>
                        <span class="text-white" th:text="${resource.title}"></span>
                    </a>
                </th:block>
            </div>
        </div>
    </div>
</section>

</body>
</html>