<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link href="../static/bootstrap-4.5.3-dist/bootstrap-4.5.3-dist/css/bootstrap.css" rel="stylesheet"
          th:href="@{/bootstrap-4.5.3-dist/bootstrap-4.5.3-dist/css/bootstrap.css}"/>
    <link href="../static/css/style.css" rel="stylesheet"
          th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>SprintMaterial</title>
</head>
<body>
<div layout:replace="~{fragments/headerFragment}"></div>
<div class="container-80 p-0 pt-2 h-90">
    <div class="row m-0 p-0">
        <!--NAVIGATION-->
        <ul class="nav nav-tabs w-100 justify-content-center m-0 pb-0">
            <li class="nav-item p-0 mr-5 ">
                <a class="nav-link" th:href="@{'/'}" th:text="#{msg.navigation.index}">Pocetna</a>
            </li>
            <li class="nav-item ml-5 mr-5 p-0">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false" th:text="#{msg.navigation.groups}">Grupe</a>
                    <div class="dropdown-menu bc-dark-t" aria-labelledby="dropdownMenuButton">
                        <th:block th:each="group: ${userGroups}">
                            <a class="dropdown-item" th:text="${group.getName()}"
                               th:href="@{'/group/' + ${group.getId()}}"></a>
                        </th:block>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item btn-primary" th:href="@{/newGroup}" th:text="#{msg.navigation.groupsNew}"></a>
                    </div>
                </div>
            </li>
            <li class="nav-item ml-5">
                <a class="nav-link" href="#" th:href="@{/profile}" th:text="#{msg.navigation.profile}"></a>
            </li>
            <li class="nav-item ml-5">
                <a class="nav-link" th:href="@{/about}" th:text="#{msg.navigation.about}"></a>
            </li>
        </ul>

        <!--CONTENT-->
        <section class="row w-100 m-0 p-0 pt-2" layout:fragment="content"></section>

    </div>
</div>

</body>
</html>