<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link href="../static/bootstrap-4.5.3-dist/bootstrap-4.5.3-dist/css/bootstrap.css" rel="stylesheet"
          th:href="@{/bootstrap-4.5.3-dist/bootstrap-4.5.3-dist/css/bootstrap.css}"/>
    <link href="../static/css/style.css" rel="stylesheet"
          th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Sprint-login</title>


</head>
<body class="bc-main">
<div class="container-80 navigation bc-nav">
    <nav class="navbar m-0 p-0">
        <a class="navbar-brand" th:href="@{/}">
            <img src="../static/images/logo.png" class="pb-0 pt-0 pl-3" width="100" th:src="@{images/logo.png}"/>
        </a>
        <div class="navbar ml-auto">
            <div>
                <select class="form-control bc-main " id="language" onchange="f()">
                    <option value="" selected hidden>Language</option>
                    <option value="hr">HR</option>
                    <option value="en">EN</option>
                </select>
            </div>
        </div>

    </nav>
</div>
<div class="d-flex justify-content-center h-100">
    <div class="card container-30 bc-dark-t mt-4">
        <div class="card-header">
            <h3>Sprint material</h3>
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="alert alert-danger" th:if="${param.error}" th:text="#{msg.invalid.login}">
                </div>

                <div class="form-group">
                    <label for="username" th:text="#{msg.username}"></label>
                    <input class="form-control" id="username" name="username" th:placeholder="#{msg.username}"
                           type="text">
                </div>

                <div class="form-group">
                    <label for="password" th:text="#{msg.password}"></label>
                    <input class="form-control" id="password" name="password" th:placeholder="#{msg.password}"
                           type="password">
                </div>

                <div class="form-row justify-content-center">
                    <div class="d-flex justify-content-center links">
                        <button class="btn btn-primary submit-btn full-width" type="submit"
                                th:text="#{msg.login}"></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                <p th:text="#{msg.missingAcc}">
            </div>
            <div class="d-flex justify-content-center links">
                <a th:href="@{/register/new}" class="btn btn-outline-primary" th:text="#{msg.register}"></a>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
  function f() {
    selectedOption = document.getElementById("language").value;
    window.location.replace('?language=' + selectedOption);
  }
</script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>
