<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="" name="description">
    <meta content="mmisic" name="author">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/reader.css}"/>
    <link rel="stylesheet" id="theme-css" th:href="@{/css/reader-dark.css}"/>
    <link rel="stylesheet" id="font-css" th:href="@{/css/font-regular.css}"/>
    <title>Sprint Material</title>


</head>
<body>
<div class="m-2">

    <div class="d-flex justify-content-center">
        <div class="align-content-center" th:text="${resourceTitle}" th:if="${resourceContent != null}"></div>
        <div class="align-content-center" th:text="'Unsaved resource'" th:if="${resourceContent == null}"></div>
    </div>

    <div class="spritz">
        <div class="spritz-word" id="content"></div>
    </div>

    <div class="m-2">

        <textarea id="inpt" placeholder="Enter text here." th:if="${resourceContent == null}"></textarea>
        <input type="hidden" id="inpt" th:value="${resourceContent}" th:if="${resourceContent != null}"/>

    </div>
    <div class="m-2">
        <button id="btn" onclick="start()">Start</button>
        <button id="btn-stop" onclick="stop()">Stop</button>
     <!--   <button id="btn-pause" onclick="pause()">Pause</button>
        <button id="btn-continue" onclick="display()">Continue</button>-->
    </div>
    <div class="m-2">
        <button onclick="incr()">Increase font</button>
        <button onclick="decr()">Decrease font</button>
    </div>
    <div class="m-2">
        Current word time: <span id="current-wt"></span>
    </div>
    <div class="m-2">

        <label for="init-time">Initial time per word:</label><input type="number" class="m-2 num-input" id="init-time"
                                                                    placeholder="Initial time per word" value="350"/>
        <br>
        <label for="min-time">Minimum time per word:</label><input type="number" class="m-2 num-input" id="min-time"
                                                                   placeholder="Minimum time per word" value="150"/>
        <br>
        <label for="step-size">Step size:</label><input type="number" class="m-2 num-input" id="step-size"
                                                        placeholder="Step size" value="25"/>
    </div>

    <div class="m-2">
        <button id="changeThemeBtn">Change theme</button>
        <button id="changeFontBtn">Dyslexic font</button>
    </div>
</div>
<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:href="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/reader.js}"></script>
</body>
</html>
