<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="" name="description">
    <meta content="mmisic" name="author">
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/globalStyle.css" rel="stylesheet" th:href="@{/css/globalStyle.css}"/>
    <link href="../static/css/expenseStyle.css" rel="stylesheet" th:href="@{/css/expenseStyle.css}"/>

    <title>Moneyapp</title>

    <link href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">

    <h1 th:text="#{register.success}"></h1>

    <a class="btn btn-outline-primary" th:href="@{/login}" th:text="#{msg.login}"></a>



</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
    function f(selectedOption) {
        window.location.replace('?language=' + selectedOption);
    }
    </script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>
